
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<h1>California Hotels</h1>

{{range .}}

<h2>{{.Name}}</h2>
<br/>Address: {{.Address}}
<br/>City: {{.City}}
<br/>Zip: {{.Zip}}
<br/>Region: {{.Region}}

{{end}}

</body>
</html>